*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reszta kodu */

body {
  background-color: #2a2a2a;
  color: teal;
  margin: 30px;
  /* line-height: 1.5; */

  font-display: swap; /* WAZNE! prfędkość ładownania strony*/
}
code {
  background-color: grey;
  color: khaki;
}
figure {
  margin-left: auto;
}
h1 {
  color: yellow;
  font-display: swap;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline overline;
}

.color-s {
  color: crimson;
}
.color-s:hover .color-s:focus {
  color: violet;
}

.lorem-wrap {
  box-sizing: border-box;
  text-align: justify;
  letter-spacing: 1px;
  /* word-spacing: 15px; */ /* rzadko uzywane */
  width: 600px;
  height: auto;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  text-shadow: 4px 4px 3px darkgoldenrod;

  /*white-space: pre-wrap; */ /* kazda następna linia NAPISANA W HTML */

  border: 1px solid rgba(194, 242, 221, 0.3);
  padding: 15px;
  margin: 20px;
}
.text-flex {
  display: flex;
}

/*-----BOX-SIZING----*/
/*.lorem-wrap-two {
    box-sizing: content-box;
        width: 200px;
}*/
.lorem-wrap::first-letter {
  font-size: 24px;
  color: #f00;
  text-shadow: -4px -4px 3px #f00;
  font-family: cursive;
  font-weight: 700;
  letter-spacing: 4px;
}
.lorem-wrap::selection {
  background-color: darkorange;
  color: darkviolet;
}
.post {
  color: #00ff00;
  font-size: 20px;
}
.post-link {
  color: inherit;
  font-size: 22px;
}
.post-link:hover,
.post-link:focus {
  color: darkgreen;
}
.site-nav {
  list-style: none;
  text-transform: uppercase;
  /* padding-left: 0; */
}
.link {
  text-decoration: none;
  color: red;
}
.link-two {
  color: #fff;
}
.link:hover,
.link:focus {
  color: yellow;
}
.link:visited {
  background-color: #0f0;
}
.link:active {
  color: rgb(236, 12, 143);
}

/* GEOMETRY */
h1.post-heading {
  color: darkmagenta;
}
.code-cats {
  text-transform: uppercase;
  font-style: italic;
}
.post-cat {
  margin: 20px auto 40px;
  box-sizing: content-box;
  padding: 15px;
  max-width: 800px;
  background-color: #2a2a2a;
  border: solid 2px rgba(194, 242, 221, 0.3);
}
.post-thumb {
  padding-bottom: 30px;
  margin: 0;
}
.post-image {
  display: block;
  max-width: 100%; /* lepiej uyć 100%, niz sztywno ustawić px na 800*/
}
.post-heading {
  padding-bottom: 30px;
  margin: 0;
}
.post-text {
  margin: 0;
}
/*MARGIN*/
.box {
  width: 300px;
  height: 150px;
  color: #0f0;
  border: solid 1px #f00;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: scroll;
}
.top {
  margin-bottom: 20px;
}
.bottom {
  margin-top: 40px;
}
/* DONOCZYC ZEBY TEXT SIE CHOWAL W BOXIE*/
.text-qm {
  width: 150px;
  box-sizing: content-box;
  justify-content: center;
  text-align: justify;
  text-transform: lowercase;
}

/* RADIUS */
.box-radius {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  background-color: salmon;
  /* KOLEJNOŚĆ wpisywania ma ZNACZENIE !!*/
  border-radius: 50%;
  border-bottom-left-radius: 20px;
}

/* cala szerokosc nalezy do display-block*/
.parent {
  background-color: #3f51b5;
  /* nadal fajnie sie skaluje, trzeba tylko wycentrowac*/
  /* --->  max-width: 800px; */
}

.child {
  max-width: 300px;
  margin: 0 auto;
  background-color: #4caf50;
  text-align: center;
}

.parent,
.child {
  padding: 20px;
  border-radius: 4px;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;

  border: 2px dashed #0f0;
}


/* TEST FORM ---------------------------- */
.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: 20vw;
}
.form-group:hover {
  border-color: green;
}
.p-padding {
  padding: 10px;
  margin-top: 0;
}
label {
  padding-left: 10px;
}
/* section FORM ======================== */
body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
input {
  padding: 8px;
  font-family: inherit;
  /* width: 250px; */
}

label {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 8px; */
}


button {
  display: inline-flex;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  width: 150px;
  justify-content: center;
  margin-top: 10px;
}

button:hover,
button:focus {
  background-color: #1976d2;
}
.form-field {
  display: flex;
  align-items: center;
}
.form-label {
  display: flex;
  padding-left: 10px;
  cursor: pointer;
}
.form-caption {
  display: block;
  margin-bottom: 16px;
}
.form-input:checked + .form-label {
  color: magenta;
}
.form-group {
  margin-bottom: 24px;
}
.form-input {
  margin-bottom: 5px; /* centered with text */
}
/* in-range / out-of-range */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 8px;
  cursor: pointer;
}

.form-input {
  padding: 8px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  outline: none;
}

button {
  display: inline-flex;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #1976d2;
}

.form-input:out-of-range {
  border-color: red;
}
.form-input:in-range {
  border-color: green;
}

